<h2>Lighting</h2>

    <p>
        Brighten up any room with nice lighting. String lights are the perfect addition to a backyard. Chandeliers add an elegant touch to an entrance or dinning room. Barnyard lights are very trendy addition to any living space.
    </p>

    <div class="row">
        <div class="col"><img src="./images/lighting1.jpg"><i *ngIf="user" (click)="addToFav('lighting1.jpg')" class="fas fa-heart"></i><div>String Lights</div></div>
        <div class="col"><img src="./images/lighting2.jpg"><i *ngIf="user" (click)="addToFav('lighting2.jpg')" class="fas fa-heart"></i><div>Chandelier</div></div>
        <div class="col"><img src="./images/lighting3.jpg"><i *ngIf="user" (click)="addToFav('lighting3.jpg')" class="fas fa-heart"></i><div>Barnyard Lights</div></div>
    </div><br>

    <a [routerLink]="['/dashboard']" style="color:blue">Back</a>