<h2>Choose a Category to Explore</h2>
<div class="row">
  <div class="col"><a [routerLink]="['/bed']"><img src="./images/bedroom.jpg"><div>Bed and Bath</div></a></div>
  <div class="col"><a [routerLink]="['/kitchen']"><img src="./images/kitchen.jpg"><div>Kitchen</div></a></div>
  <div class="col"><a [routerLink]="['/living']"><img src="./images/living.jpg"><div>Living</div></a></div>
  <div class="col"><a [routerLink]="['/outdoor']"><img src="./images/outdoor.jpg"><div>Outdoor</div></a></div>
  <div class="col"><a [routerLink]="['/decor']"><img src="./images/decor.jpg"><div>Decor</div></a></div>  
  <div class="col"><a [routerLink]="['/lighting']"><img src="./images/lighting.jpg"><div>Lighting</div></a></div>
</div>