/* You can add global styles to this file, and also import other style files */
.form {
    text-align: center;
    margin: 7%;
    
}

.logo {
    width: 20%;
    margin: auto;
    display: block;
}

.logo2 {
    margin-top: 2%;
    width: auto;
}

.out {
    float: right;
    margin-top: 2%
}

.wrap {
    float: left;
    width: 40%;    
    margin-top: 2%;
    padding: 2%;
}

.searchTerm {
    border-radius: 5px;
}

.links {
    text-align: center;
}

.buttons {
    margin-top: 10%;
}

.btn {
    background-color: #001b66;
    color: white;
    width: 100%;
}

button {
    background: #001b66;
    border-color: #001b66;
    color: white;
    border-radius: 5px;
}


.navbar {
    background-color: #001b66;
    padding: 3px;
    margin-top: 1%;
    width: 100%;
    color: white;
}

i {
    display: block;
    padding: 3px;
}

span {
    margin-left: 1%;
}

i .fa {
    color: white;
    margin-left: 25%;
    display: block;
    float: right;
    width: 4%;
    height: 4%;
}

.pages {
    float: right;
    width: auto;
    text-align: right;
}

.container {
    width: 100%;
}

.name {
    color: white;
}

a {
    color: inherit;
}

.row img {
    width: 300px;
    height: 200px;
    margin-top: 3%;
    text-align: center;
}

.row {
    font-weight: bold;
    color: #001b66;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #001b66;
    margin: 2%;    
}

.row .fa-heart {
    position: absolute;
    bottom: 10%;
    margin-left: -7%;
    color: slategray;
}

h3 {
    text-align: center;
    color: #001b66; 
    margin-top: 3%; 
}

.pic {
    display: block;
    width: 40%;
    height: 20%;
    float: left;
    text-align: left;
    margin-left: 2.5%;
}

.profile-pic {
    border: 1px solid black;
    border-radius: 100%;
    display: block;
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 2%;
    text-align: center;
} 


.rating {
    width: 95%;
    margin-right: auto;
    margin-left: auto;

}

.rating h3 {
    text-align: center;
}

.rating h6 {
    text-align: center;
}

.checked {
    margin-left: 1%;
    margin-right: 1%;

}

.updatePic {
    float: left;
    width: 40%;
    height: 15%;
    display: block;
    margin-left: 2.5%;
}


.update {
    float: left;
    width: 40%;
    margin-top: 2%;
}

.fa-trash {
    position: absolute;
    bottom: 5%;
}

.about {
    padding: 1%;
    float: right;
    width: 55%;
    height: 15%; 
    text-align: left;
    margin-right: 2.5%;
}
.wall {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10%;
    border: 2px solid;
    border-color: #001b66;
    height: 75%;

}

.wall button {
    float: right;
    margin-right: 5%; 

}

.wallText {
    margin-top: 2%;
    width: 75%;
    height: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

