<h2>Outdoor</h2>

    <p>
        Backyards can provide a great escape without actually having to go anywhere. Stone paths add a nice cottage touch to the home. Or a swing can be a great place to relax. The best backyards have awesome pools. These are really handly when it's 100 degrees outside.
    </p>

    <div class="row">
        <div class="col"><img src="./images/outdoor1.jpg"><i class="fas fa-heart"></i><div>Stone Backyard</div></div>
        <div class="col"><img src="./images/outdoor2.jpg"><i class="fas fa-heart"></i><div>Swing</div></div>
        <div class="col"><img src="./images/outdoor3.jpg"><i class="fas fa-heart"></i><div>Pool</div></div>
    </div><br>

    <a [routerLink]="['/dashboard']" style="color:blue">Back</a>