<div *ngIf="user">
        <h2 class="page-header">Welcome, {{user.name}}!</h2>

<br>
<div style="text-align:center">
    <h6>My Avatar</h6>
    <input  [(ngModel)]="profilePic" name="profilePic" type="file" (change)="onFileSelected(profilePic)" accept="image/*" #fileInput/><br><br>
    <button (click)="saveProfilePic(profilePic)" type="button">Update Avatar</button>
    
</div>


<div class="wall">
    <h3>User Activity</h3>
    <input type="text" [(ngModel)]="post" name="post" class="wallText" placeholder="What's on your mind?"/><br><br>
    <button (click)="addToWall(post)" type="button" >Post</button> <br> <br>

    <div class="container">
        <div>
            <div style="text-align: center" *ngFor="let post of posts">
                <span>{{post}}</span>  &nbsp;<i (click)="removePost(post)" class="fas fa-trash"></i><br>
            </div>
        </div>
    </div>
</div>
</div>

<div *ngIf="!user">
    <h2>Please sign in to access Profile.</h2>
</div>
