
<h2>Bed and Bath</h2>

    <p>
        The most important part of a home is the bedroom and bathroom. Afterall, you spend the most amount of time in these rooms. A wooden bedframe gives the room a peaceful look. The new trend is having a very modern home. You don't need a large space to give a room a modern touch. And finally, the bathroom. The most important part of any home. Not only will you feel better in a nice elegant bathroom, but your guests will adore it as well.
    </p>

    <div class="row">
        <div class="col"><img src="./images/bed1.jpg"><i *ngIf="user" (click)="addToFav('bed1.jpg')" class="fas fa-heart"></i><div>Wooden Bedframe</div></div>
        <div class="col"><img src="./images/bed2.jpg"><i *ngIf="user" (click)="addToFav('bed2.jpg')" class="fas fa-heart"></i><div>Modern Bedroom</div></div>
        <div class="col"><img src="./images/bed3.jpg"><i *ngIf="user" (click)="addToFav('bed3.jpg')" class="fas fa-heart"></i><div>Unique Bathroom</div></div>
    </div><br>

    <a [routerLink]="['/dashboard']" style="color:blue">Back</a>