<a href="news">
    <img src="./images/logo.JPG" class="logo2">
</a>

<a *ngIf="authService.user" (click)="onLogoutClick()"><button class="out">Log Out</button></a>
<a [routerLink]="['/login']"><button *ngIf="!authService.user" class="out">Log In</button></a>

<div class="navbar">
    <span>myquarters.com</span>
    
    <a *ngIf="!authService.user" [routerLink]="['/']"><i class="fa fa-fw fa-home fa-lg"></i><div class="nav">Home</div></a>
    <a *ngIf="authService.user" [routerLink]="['/dashboard']"><i class="fa fa-fw fa-newspaper fa-lg"></i><div class="nav">Category</div></a> 
    <a *ngIf="authService.user" [routerLink]="['/profile']"><i class="fa fa-fw fa-user fa-lg"></i><div class="nav">Profile</div></a> 
    <a *ngIf="authService.user" [routerLink]="['/favorites']"><i class="fa fa-fw fa-heart"></i><div class="nav">Favorites</div></a>

</div>