
<h2>Home Decor</h2>

<p>
    The rustic look is in right now. Wooden panels add just the right touch. An organized kitchen not only helps with cooking, but leaves guests stunned. A large island is the way to go. It's adds a great space to entertain and is an extra spot to dine at when you're in a hurry.
</p>

<div class="row">
    <div class="col"><img src="./images/kitchen1.jpg"><i class="fas fa-heart"></i><div>Rustic</div></div>
    <div class="col"><img src="./images/kitchen2.jpg"><i class="fas fa-heart"></i><div>Organized Spices</div></div>
    <div class="col"><img src="./images/kitchen3.jpg"><i class="fas fa-heart"></i><div>Large Island</div></div>
</div><br>

<a [routerLink]="['/dashboard']" style="color:blue">Back</a>