<h2>Living</h2>

    <p>
        A fun living area is a great addition to any home. Whether you have a small space or a large space, the possibilities are endless. The pictures below show a few different ways to use different pieces of art and furniture to make a living room come together.
    </p>

    <div class="row">
        <div class="col"><img src="./images/living1.jpg"><i class="fas fa-heart"></i><div>Blue and White</div></div>
        <div class="col"><img src="./images/living2.jpg"><i class="fas fa-heart"></i><div>Studio</div></div>
        <div class="col"><img src="./images/living3.jpg"><i class="fas fa-heart"></i><div>Contemporary</div></div>
    </div><br>

    <a [routerLink]="['/dashboard']" style="color:blue">Back</a>